$color-accent: #cd9618;
$color-background: #f8f8f8;
$color-banner: #333;
$color-main: #258fb8;
$color-font: #000;
$color-alternate: #999;
$color-gray02: #999;
$color-gray03: #ccc;
$color-gray04: #ddd;
$color-gray05: #fff;